<nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'actividad:listar_actividad' %}">
              <span data-feather="file"></span>
              Actividades
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'horario:listar_horarios' %}">
              <span data-feather="shopping-cart"></span>
              Horarios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'jornada:listar_jornadas' %}">
              <span data-feather="users"></span>
              Jornadas
            </a>
          </li>
         
        </ul>

        
      </div>
    </nav>