        <form method='GET' action='{% url "buscar:query" %}' class="form mx-2 my-auto d-inline w-100 search-form">
            <div class="input-group">
            <input type="text" class="form-control border border-0" style="background-color: #E3E5E7; "  name='q' placeholder="Buscar...">
                <span class="input-group-append">
                <button class="btn btn-outline-secondary border border-left-0" style="border-color: #E3E5E7; " type="submit">
                    <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>